
.tours-app {
    background: #f1f5f8;
    padding: 5rem 0;
    text-align: center;
    min-height: 500px;
    color: var(--mainBlack);
    display: flex;
    align-items: center;
    justify-content: center;
}