
   .tour img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        display: block;
    }

    .tour .bottom {
        background-color: white;
        padding: 1.5rem 2rem;
        color: black;
    }

    .tour p {
        text-align: left;
    }

    .tour {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }

    .tourInfo {
        display: flex;
        justify-content: space-between;
    }

    .tourPrice {
        color: var(--primaryColor)
    }

    .tour button {
        width: 100%;
    }

