
.tour {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
        
    img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        display: block;
    }
    
    .bottom {
        background-color: white;
        padding: 1.5rem 2rem;
        color: black;
    }
    
    p {
        text-align: left;
    }

    .tourInfo {
        display: flex;
        justify-content: space-between;
    }

    .tourPrice {
        color: var(--primaryColor)
    }

    button.notInterested {
        width: 100%;
    }
    
    button.toggle {
        background: transparent;
        color: var(--primaryColor);
        border: transparent;
        font-size: 16px;
        cursor: pointer;
    }

    
}
  
    

   
        
    

    
    

