:root {
    --primaryColor: #d4a53f;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #f5f5f5;
    --darkGrey: #afafaf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 4px;
    --lightShadow: 2px 5px 20px 0px #efefef;
    --darkShadow: 8px 20px 12px 0px #efefef;
    
  }

.price-information {
    background-color: #f4f4f4;
}

.plan-box{
    margin: auto;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    /* margin is 5% because it is half of the remaining width above.*/
    
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    color: black;
    
}

.plan-box div {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;  /*this border gave very nice dividing effect.*/
    
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.howToCookButton {
    padding: 0.5rem 1rem;
    font-size: .8rem;
    color: var(--primaryColor);
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    outline: none;
    border: 1px solid var(--primaryColor);

    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}

.howToCookButton:hover {
    background-color: var(--primaryColor);
    color: white;
  }
  
  
  
  
  @media only screen and (max-width: 320px) {
    .plan-box {
        width: 280px;
    }
}