.wrapper {
    /* margin: 0 auto; */
    max-width: 1170px;
   
}

.cardWrapper {
    
    display: flex;
    justify-content: center;
}


.btn {
  padding: 0.9rem 1.6rem;
  margin-bottom: .2rem;
    /* font-size: .8rem; */
    color: var(--primaryColor);
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    outline: none;
    border: 2px solid var(--primaryColor);

    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}
  
  .btn:hover {
    background: var(--primaryColor);
    color:  var(--mainWhite);
  }


  .foodCard {
    width: 90%;
    margin: auto;
  }

  @media only screen and (max-width: 1023px) {
    .foodCard {
      width: 84%;
      margin: auto;
    }
    }

    @media only screen and (max-width: 767px) {
      .foodCard {
        width: 55%;
        margin: auto;
      }
      }

      @media only screen and (max-width: 480px) {
        .foodCard {
          width: 93%;
          margin: auto;
        }
        }