.wrapper {
    /* margin: 0 auto; */
    max-width: 1170px;
   
}

.cardWrapper {
    
    display: flex;
    justify-content: center;
}


.btn {
    padding: 0.5rem 1rem;
    font-size: .8rem;
    color: var(--primaryColor);
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    outline: none;
    border: 1px solid var(--primaryColor);

    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}
  
  .btn:hover {
    background: var(--primaryColor);
    color:  var(--mainWhite);
  }


  .foodCard {
    max-width: '900px';
  }

  