$purple: #4b145b;

.container {
    min-height: 80vh;
    background-color: $purple;
    display: flex;
    align-items: center;
}

.app {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    padding: 5rem 2rem 2rem 2rem;
    background: white;
    color: black;

    .left {
        flex-basis: 25%;
        margin-right: 1rem;
    }

    .right {
        flex-basis: 75%;
    }
}