.card{
    position: absolute;
    left: 20px;
    top: 70px;
    right: 0;
    margin: auto;
    width: 125px;

}

.cardWrapper {
    position: relative;
}

.deckWrapper {
    background-color: #17181c;
    padding: 2rem;
}

.deckButton {
    background: none;
    border: 2px solid;
    outline: none;
    font: inherit;
    margin: 0.5em;
    padding: 1em 2em;
    color: #4caf50;
    transition: 0.3s;
    cursor: pointer;
}

.deckButton:hover {
    border-color: #4caf50;
    color: white;
    box-shadow: inset 0 0 0 2em #4caf50;
}

.rules {
    letter-spacing: 1px;
    word-spacing: -3px;
    margin-top: 3rem;
    font-size: .8rem;
}

ul {
    
    padding: 0;
    margin: 0;
}

li {
    
    margin-bottom: 2rem;
}